body {
    height: 100vh;
    margin: 0px;
    display: flex;
    align-items: center;
}

div.container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.box {
    width: 50px;
    height: 50px;
}

.blue {
    background: blue;
}

.red {
    background: red;
}

.green {
    background: green;
}